DATABASE_URL="postgresql://user:password@localhost:5432/wookielink"

AUTH_TRUST_HOST=true
AUTH_SECRET="" # Added by `npx auth`. Read more: https://cli.authjs.dev

AUTH_GOOGLE_ID=""
AUTH_GOOGLE_SECRET=""

# Minio
MINIO_SERVER_URL=
MINIO_BUCKET_NAME=
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=

OPEN_GRAPH_API_KEY=